<div class="ui small modal live-picture-modal">

    <div class="ui raised segment" style="min-height: 300px;">
        <div class="live-link">
            Picture Galleries
            <i class="ui red circular label"> {{pictures.length}} </i>
        </div>
        <table class="ui mini table segment">
            <thead>
            <tr>
                <th><i class="ui bolt icon"></i></th>
                <th>Title</th>
                <th>Items</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr data-ng-repeat="gallery in pictures" data-ng-click="">
                <td>
                    <span class="live-index">
                        {{ $index + 1 }}.
                    </span>
                </td>
                <td>
                    <span style="white-space: nowrap">
                        {{ gallery.title }}.
                    </span>
                </td>
                <td>
                    <i class="ui big photo icon" data-ng-repeat="id in gallery.objectIds"></i>
                </td>
                <td>
                    <div class="ui mini button" data-ng-click="$selectPictureGallery(gallery)">
                        <span style="white-space: nowrap">
                            <i class="ui checkmark sign icon"
                               data-ng-class="{ 'animated tada red' : $isSelectedPictureGallery(gallery)}" > </i>
                            Select
                        </span>
                    </div>
                </td>
            </tr>
            </tbody>

        </table>


    </div>

    <div style="margin:20px">
        <div class="ui mini button" data-ng-click="$hidePictureDialog()">
            <i class="ui checkmark icon"></i>
            OK
        </div>
    </div>

</div>