
<div class="ui grid">
    <div class="six wide column">

        <div class="ui segment">

            <a href="" class="live-link" data-ng-click="newGallery()" >
                <i class="add circular icon"></i>
                New Gallery
            </a>

            <div class="ui section divider" style="margin: 10px 0px"></div>

            <div class="ui secondary vertical pointing menu" style="width: 100%">
                <a class="item animated fadeIn" data-ng-repeat="gallery in galleries"
                   data-ng-class="{ 'active' : isSelected(gallery) }"
                   data-ng-click="selectGallery(gallery)">
                    <i class="video icon"
                       data-ng-class="{ 'animated tada black': isSelected(gallery), 'animated flash': !gallery.publish }"></i>
                    <span>
                        <i>{{$index+1}}.</i>
                        {{gallery.title}}
                    </span>
                </a>
            </div>
        </div>
    </div>

    <div class="ten wide column">
        <div class="animated fadeIn live-branch">
            <div class="animated fadeIn" ng-if="!editMode" data-ng-include src=" '/views/videos/video_detail.html' " style="margin-bottom: 10px"> </div>
            <div class="animated fadeIn" ng-if="editMode" data-ng-include src=" '/views/videos/video_form.html' " style="margin-bottom: 10px"> </div>
        </div>

        <div  data-ng-if="editMode">
            <div style="padding: 10px 0">
                <label for="">List of Video Galleries</label>
            </div>
            <div class="animated fadeIn"
                 data-ng-include src=" '/views/videos/video_table.html' ">
            </div>
        </div>
    </div>
</div>