@font-face {
    font-family: 'sf_wonder_comicregular';
    src: url('/fonts/SF_Wonder_Comic-webfont.eot');
    src: url('/fonts/SF_Wonder_Comic-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SF_Wonder_Comic-webfont.woff') format('woff'),
    url('/fonts/SF_Wonder_Comic-webfont.ttf') format('truetype'),
    url('/fonts/SF_Wonder_Comic-webfont.svg#sf_wonder_comicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



.live-content {
    max-width: 1000px;
    min-height: 750px;
    /*background-size: 150% auto ;*/
    /*background-image: url("/images/diagonal_waves.png");*/
}

.live-header {
    /*background-image: url("/images/back.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-size: 100% auto;*/
    /*height: 100px;*/
}

.live-foot {
    height: 120px;
}

.live-menu {
    /*background-repeat: no-repeat;*/
    /*background-image: url("/images/sos.png");*/
    font-size: 85%;
    color: green;
    margin: 0;

    font-family: sf_wonder_comicregular;
}

.live-menu > nav > a {
    color: #000000;
    letter-spacing: 0.15em;
    /*text-shadow: 1px -1px 1px gray;*/
}

.live-header {
}

.live-view {
    padding-top: 10px;
    max-width: 950px;
}

.live-link {
    color: #000000;
    text-decoration: none;
    font-family: sf_wonder_comicregular;
}

a.live-link:hover, a.live-link:visited, a.live-link:active {
    color: inherit;
}

.live-branch {
    /*background-image: url("/images/bg1.jpg");*/
    background-size: auto 100% ;
}

.form > .fields > .field > input[type=text] {
    height: 35px;
    font-size: 80%;
    font-weight: bolder;
}

.fields > .field > label, .field > label {
    font-size: 80%;
    font-weight: bolder;
    /*font-family: "Helvetica Neue", Helvetica, Arial;*/
    font-family: sf_wonder_comicregular;
}


body {
    /*background:*/
        /*url("/images/crossword.png");*/

    background-image: url("/images/food.png");
    /*//background-image: url("/images/diagonal_waves.png");*/
    /*background-color: #79a8c7;*/
    /*background-size: 100% auto;*/
    padding: 50px;

    height: 100%;
    min-height: 100%;
    background-attachment:fixed;
}

div > div.field > textarea.live-control {
    height: 30px;
}

table.ui > thead > tr > th {
    font-family: sf_wonder_comicregular;
    font-size: 90%;
}

.live-index {
    font-family: sf_wonder_comicregular;
    font-size: 95%;
}

table.ui > tbody > tr > td {
    font-size: 90%;
}

a.live-link {
}

div.ui.button, span.ui.button {
    /*background-image: url("/images/pw_pattern.png");*/
    /*text-transform: none;*/
    /*box-shadow: 1px 1px 5px 9dc1c9;*/
    font-family: sf_wonder_comicregular;
}

label{
    font-family: sf_wonder_comicregular;
    font-weight: bolder;
    color: #555555;
}

div.ui.menu > a.item {
    font-size: 14px;
    letter-spacing: .05em;
}

div.list > a.item > div.horizontal.label {
    text-transform: none;
    width: 120px;
}

div.ui.list  a.item  {
    font-size: 95%;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

div.images > img {
    box-shadow: 1px -1px 5px gray;
}

table.ui.table {
    background-image: url("/images/sos.png");
    /*background-image: url("/images/img.jpg");*/
}
div.ui.segment {
    background-image: url("/images/crossword.png");
    /* Fallback for web browsers that doesn't support RGBa */
    /*background: rgb(0, 0, 0);*/
    /* RGBa with 0.6 opacity */
    /*background: rgba(0, 0, 0, 0.6);*/
}

div.ui.segment.live-content {
    background-image: none;
}


div.images > img.highlight {
    box-shadow: -1px -1px 10px red;
}

a.highlight {
    text-shadow: 1px 1px 5px gray;
    font-weight: bolder;
}

.dragging {
    background-color: #7ab5d3;
}

table.ui.table > tbody > tr > td {
    vertical-align:top;

}

