.live-content {
    max-width: 1000px;
    min-height: 100%;
    /*background-size: 150% auto ;*/
}

.live-header {
    /*background-image: url("/images/back.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-size: 100% auto;*/
    /*height: 100px;*/
}

.live-foot {
    height: 120px;
}

.live-menu {
    /*background-repeat: no-repeat;*/
    font-size: 80%;
    color: green;
}

.live-menu > nav > a {
    color: #000000;
    /*letter-spacing: 0.15em;*/
    text-shadow: 1px -1px 1px gray;
}

.live-header {
}

.live-view {
    padding-top: 10px;
    max-width: 950px;
}

.live-link {
    text-decoration: none;
    font-size: 90%;
}

a.live-link:hover, a.live-link:visited, a.live-link:active {
    color: inherit;
    font-size: 90%;
}

.live-branch {
    /*background-image: url("/images/bg1.jpg");*/
    background-size: auto 100% ;
}

.form > .fields > .field > input[type=text] {
    height: 35px;
    font-size: 80%;
    font-weight: bolder;
}

.fields > .field > label, .field > label {
    font-size: 80%;
    font-weight: bolder;
    font-family: "Helvetica Neue", Helvetica, Arial;
}


body {
    background-image: url("/images/diagonal_waves.png");
    /*background-image: url("/images/linen_bg_tile.jpg");*/
    /*background-image: url("/images/img.jpg");*/
    /*background-color: #79a8c7;*/
    /*background-size: 250% auto;*/
    padding: 50px;
}

div > div.field > textarea.live-control {
    height: 30px;
}

table.ui > thead > tr > th {
    font-size: 90%;
}

table.ui > tbody > tr > td {
    font-size: 90%;
}

div.ui.button {
    text-transform: none;
    /*box-shadow: 1px 0px 2px lightgray;*/
}

div.ui.menu > a.item {
    font-size: 14px;
    letter-spacing: .05em;
}

div.list > a.item > div.horizontal.label {
    text-transform: none;
    width: 120px;
}

div.ui.list  a.item  {
    font-size: 95%;
}


.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

div.images > img {
    box-shadow: 1px -1px 5px gray;
}

div.ui.segment {
    /*background-image: url("/images/2.jpg");*/

    /* Fallback for web browsers that doesn't support RGBa */
    /*background: rgb(0, 0, 0);*/
    /* RGBa with 0.6 opacity */
    /*background: rgba(0, 0, 0, 0.6);*/
}