<div style="">
    <div style="padding-bottom: 10px">
        <label for="">Last 10 Videos</label>
    </div>
    <div data-ng-repeat="video in videos | orderBy:'-_id' | limitTo: 10"
         data-ng-click="selectVideo(video)"
         style="display: inline-block;margin: 5px; cursor: pointer" >
            <span style="white-space: nowrap; cursor: inherit">
                <i data-ng-class="{ 'red animated tada': isSelectedVideo(video) }"
                   class="ui video icon"></i>
                <label for="" style="cursor: inherit">
                    {{video.title}}
                </label>
            </span>
    </div>

</div>