<div style="padding-bottom: 10px">
    <label for="">
        {{currentGallery.title}}
        <!--<i class="ui square red label">{{currentGallery.$videos.length}}</i>-->
    </label>
</div>

<div style="padding-bottom: 1px;min-height: 400px" class="ui segment">

    <a href="" class="ui animated bounceIn live-link"
       data-ng-repeat="video in currentGallery.$videos"
       data-ng-class="{ 'animated tada' : isSelectedVideo(video) }"
       data-ng-click="playVideo(video)">
        <i data-ng-class="{ 'inverted green' : isSelectedVideo(video) }"
           class="ui circular blue video icon"></i>
    </a>

    <div data-ng-if="!editMode">
        <div style="padding: 10px 0" ng-if="currentVideo._id">
            <video class="video-js vjs-default-skin live-video animated fadeIn "
                   controls preload="auto" width="100%" height="100%"
                   poster=""
                   data-setup='{"example_option":true}'>
                <source data-ng-src="{{ getVideoPath(currentVideo) }}" type='{{currentVideo.contentType}}'/>
                <!--<source src="/api/video/532bde1891fda67022000003" type='{{currentVideo.contentType}}' />-->
            </video>

            <div for="" style="padding: 10px 0" class="animated fadeIn">
                <label for="">File: {{currentVideo.title}}</label> <br/>
                <label for="">Content Type: {{currentVideo.contentType}}</label><br/>
            </div>

        </div>

    </div>

</div>