<div class="ui segment">
    <div class="ui form ">

        <div class="ui fields">
            <div class="ui field">
                <label for="">Title</label>
                <input type="text" data-ng-model="currentGallery.title"/>
            </div>
        </div>

        <div class="ui">
            <div class="ui field">
                <label for="">Description</label>
                <textarea class="live-control"
                          data-ng-model="currentGallery.description" name="" id="" cols="30" rows="10"></textarea>
            </div>
        </div>
    </div>

    <div class="ui">
        <div class="fileUpload ui mini button">
            <i class="ui upload icon"></i>
            <span>Upload Video</span>
            <input type="file" accept="video/*"
                   class="upload" multiple data-ng-file-select="onFileSelect($files)"/>
        </div>

        <div class="ui mini button"
             data-ng-if="currentVideo._id"
             data-ng-click="removeVideo(currentVideo)">
            <i class="ui remove icon"></i>
            Remove
        </div>

        <div class="ui basic segment" data-ng-if="currentGallery.$videos.length != 30" style="min-height: 70px">
            <div class="ui rounded small images">
                <img data-ng-repeat="video in currentGallery.$videos"
                     class="animated fadeInDown"
                     data-ng-class="{ highlight: isSelectedVideo(video) }"
                     data-ng-click="selectVideo(video)"
                     data-ng-src="{{ getVideoPath(video._id) }}" alt="{{video.title}}"/>
            </div>
        </div>

    </div>

    <div style="margin-top: 20px">
        <div class="ui mini button" data-ng-click="saveGallery(currentGallery)">
            <i class="ui save icon"></i> Save
        </div>

        <div class="ui mini button" data-ng-click="toggleMode()">
            <i class="ui close icon"></i> Close
        </div>
    </div>

</div>