<table class="ui table segment">
    <thead>
    <tr>
        <th><i class="ui bolt icon"></i></th>
        <th>Title</th>
        <th>
            <span>
                <i class="ui green inverted circular video icon"></i>
                Videos
            </span>
        </th>
        <th>Edit / Remove</th>
    </tr>
    </thead>

    <tbody>

    <tr data-ng-repeat="gallery in galleries" class="animated">
        <td>
            <span class="live-index">
                {{$index+1}}.
            </span>
        </td>
        <td>{{gallery.title}}</td>
        <td>
            <i class="ui video icon" data-ng-repeat="deivce in gallery.objectIds"></i>
        </td>
        <td>
            <div class="ui mini button" data-ng-click="editGallery(gallery)">
                <i class="ui edit icon"></i>
            </div>

            <div class="ui mini button"
                 data-ng-class="{ 'animated flash': !gallery.publish }"
                 data-ng-click="removeGallery(gallery)">
                <i class="ui trash icon"></i>
            </div>
        </td>
    </tr>

    </tbody>
</table>