<header class="clearfix">
</header>

<h1>hello</h1>

<section class="main animated fadeInUp" style="padding-top: 100px">

    <ul id="st-stack" class="st-stack-raw">
        <li><div class="st-item"><a href="http://drbl.in/fgQV"><img src="images/1.jpg"/></a></div><div class="st-title"><h2>Graverobber</h2><h3>by Isaac Montemayor</h3></div></li>
        <li><div class="st-item"><a href="http://drbl.in/fpRz"><img src="images/2.jpg"/></a></div><div class="st-title"><h2>Hideous Snake Queen</h2><h3>by Isaac Montemayor</h3></div></li>
        <li><div class="st-item"><a href="http://drbl.in/fGVs"><img src="images/3.jpg"/></a></div><div class="st-title"><h2>Queen of Hearts</h2><h3>by Isaac Montemayor</h3></div></li>
        <li><div class="st-item"><a href="http://drbl.in/fgvZ"><img src="images/4.jpg"/></a></div><div class="st-title"><h2>Dead Pirate vs Kraken</h2><h3>by Isaac Montemayor</h3></div></li>
        <li><div class="st-item"><a href="http://drbl.in/fyfM"><img src="images/5.jpg"/></a></div><div class="st-title"><h2>Mountain Lion</h2><h3>by Isaac Montemayor</h3></div></li>
        <li><div class="st-item"><a href="http://drbl.in/fCmJ"><img src="images/6.jpg"/></a></div><div class="st-title"><h2>Flying Skull</h2><h3>by Isaac Montemayor</h3></div></li>
        <li><div class="st-item"><a href="http://drbl.in/fsMv"><img src="images/7.jpg"/></a></div><div class="st-title"><h2>The Fly &amp; Bureaucratic Elephant</h2><h3>by Isaac Montemayor</h3></div></li>
        <li><div class="st-item"><a href="http://drbl.in/fGOf"><img src="images/8.jpg"/></a></div><div class="st-title"><h2>Failsnake</h2><h3>by Isaac Montemayor</h3></div></li>
        <li><div class="st-item"><a href="http://drbl.in/fypr"><img src="images/9.jpg"/></a></div><div class="st-title"><h2>Cultist</h2><h3>by Isaac Montemayor</h3></div></li>
        <li><div class="st-item"><a href="http://drbl.in/fEmG"><img src="images/10.jpg"/></a></div><div class="st-title"><h2>Crusader &amp; Viking</h2><h3>by Isaac Montemayor</h3></div></li>
        <li><div class="st-item"><a href="http://drbl.in/ffiw"><img src="images/11.jpg"/></a></div><div class="st-title"><h2>Crocodile</h2><h3>by Isaac Montemayor</h3></div></li>
        <li><div class="st-item"><a href="http://drbl.in/fqWx"><img src="images/12.jpg"/></a></div><div class="st-title"><h2>Captain Banana</h2><h3>by Isaac Montemayor</h3></div></li>
        <li><div class="st-item"><a href="http://drbl.in/fkuv"><img src="images/13.jpg"/></a></div><div class="st-title"><h2>Werewolf</h2><h3>by Isaac Montemayor</h3></div></li>
        <li><div class="st-item"><a href="http://drbl.in/fIli"><img src="images/14.jpg"/></a></div><div class="st-title"><h2>Vegetables</h2><h3>by Isaac Montemayor</h3></div></li>
    </ul>
</section>
